<div class="container mb-3">
  <div class="row mb-3">
    <div class="col-sm offset-1">
      <h2><a href="player/{{login}}">{{login}}</a></h2>
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm ">
      <button class="btn btn-primary"(click)="update(login)">update</button>
    </div>
  </div>
  <div class="tab-bar">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link" href="player/{{login}}">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="player/{{login}}/graphs">Graphs</a></li>
      <li class="nav-item"><a class="nav-link active" href="player/{{login}}/vehicles?mode=ground_rb">Vehciles</a></li>
    </ul>
  </div>
</div>
