<app-player-navbar></app-player-navbar>
<!--MODE TAB-BAR-->
<div class="container mb-3">
  <div class="tab-bar">
    <ul class="nav nav-tabs">
      <li *ngFor="let m of modes" class="nav-item">
        <a class="nav-link" href="/player/{{login}}/graphs?mode={{m.value}}" [ngClass]="{'active' : m.value==mode}">{{m.name}}</a>
      </li>
    </ul>
  </div>
</div>
<!--END OF MODE TAB-BAR-->

<div class="row">
  <div class="col col-lg-4">
    <div class="tab-bar">
      <ul class="nav nav-tabs">
        <li class="nav-item"><div class="nav-link" [ngClass]="{'active': activeChart.rank=='battles'}" (click)="initBattleChart('per-rank-charts', 'rank')">battles</div></li>
        <li class="nav-item"><div class="nav-link" [ngClass]="{'active': activeChart.rank=='wr'}" (click)="initWrChart('per-rank-charts', 'rank')">win ratio</div></li>
        <li class="nav-item"><div class="nav-link" [ngClass]="{'active': activeChart.rank=='kdr'}" (click)="initKdRatioChart('per-rank-charts', 'rank')">k/d ratio</div></li>
      </ul>
    </div>
    <div>
      <div id="per-rank-charts" class="bar-chart d-flex align-content-center"></div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="tab-bar">
      <ul class="nav nav-tabs">
        <li class="nav-item"><div class="nav-link" [ngClass]="{'active': activeChart.nation=='battles'}" (click)="initBattleChart('per-nation-charts', 'nation')">battles</div></li>
        <li class="nav-item"><div class="nav-link" [ngClass]="{'active': activeChart.nation=='wr'}" (click)="initWrChart('per-nation-charts', 'nation')">win ratio</div></li>
        <li class="nav-item"><div class="nav-link" [ngClass]="{'active': activeChart.nation=='kdr'}" (click)="initKdRatioChart('per-nation-charts', 'nation')">k/d ratio</div></li>
      </ul>
    </div>
    <div class="container">
      <div id="per-nation-charts" class="bar-chart d-flex align-content-center"></div>
    </div>
  </div>

  <div class="col col-lg-3">
    <div class="tab-bar">
      <ul class="nav nav-tabs">
        <li class="nav-item"><div class="nav-link" [ngClass]="{'active': activeChart.klass=='battles'}" (click)="initBattleChart('per-klass-charts', 'klass')">battles</div></li>
        <li class="nav-item"><div class="nav-link" [ngClass]="{'active': activeChart.klass=='wr'}" (click)="initWrChart('per-klass-charts', 'klass')">win ratio</div></li>
        <li class="nav-item"><div class="nav-link" [ngClass]="{'active': activeChart.klass=='kdr'}" (click)="initKdRatioChart('per-klass-charts', 'klass')">k/d ratio</div></li>
      </ul>
    </div>
    <div>
      <div id="per-klass-charts" class="bar-chart d-flex align-content-center"></div>
    </div>
  </div>
</div>
