<app-player-navbar></app-player-navbar>

<!--MODE TAB-BAR-->
<div class="container mb-3">
  <div class="tab-bar">
    <ul class="nav nav-tabs">
      <li *ngFor="let m of modes" class="nav-item">
        <a class="nav-link" href="/player/{{login}}/vehicles?mode={{m.value}}" [ngClass]="{'active' : m.value==mode}">{{m.name}}</a>
      </li>
    </ul>
  </div>
</div>
<!--END OF MODE TAB-BAR-->

<!--FILTERS-->
<div class="container-fluid col-md-9 mx-auto">
  <div class="d-flex justify-content-center flex-nowrap m-3">
    <button class="btn btn-outline-secondary col-md-12" id="filters-btn" (click)="hideFilters = !hideFilters" [ngClass]="{'active' : !hideFilters}">filters</button>
  </div>
  <div class="row">
    <div [hidden]="hideFilters" class="col-md-12">
      <form class="form-floating form-inline">
        <div class="mb-2">
          <div class="filter-label">Rank:
            <button class="btn btn-light btn-sm" (click)="checkAll('ranks')">all</button>
            <span> | </span>
            <button class="btn btn-light btn-sm" (click)="uncheckAll('ranks')">none</button>
            <div class="offset-1">
            <div class="form-check-inline" *ngFor="let rank of ranks">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="rank" [value]="rank.value" [checked]="rank.checked"  (change)="rank.checked = !rank.checked">
                {{rank.name}}
              </label>
            </div>
            </div>
          </div>
        </div>
        <div class="mb-2" id="nation-filter">
          <div class="filter-label">Nation:
            <button class="btn btn-light btn-sm" (click)="checkAll('nations')">all</button>
            <span> | </span>
            <button class="btn btn-light btn-sm" (click)="uncheckAll('nations')">none</button>
            <div class="offset-1">
            <div class="form-check-inline" *ngFor="let nation of nations">
              <label class="form-check-label">
                <input class="form-check-input"  type="checkbox" name="nation" [value]="nation.value" [checked]="nation.checked" (change)="nation.checked = !nation.checked">
                {{nation.name}}
              </label>
            </div>
            </div>
          </div>
        </div>
        <div class="mb-2" id="br-filter">
          <div class="filter-label">Battle rating:</div>
          <div class="offset-1 row-cols-sm-4">
            <div class="d-lg-inline-flex form-check-inline">
            <select class="form-select form-select-sm col" name="lower-br" [(ngModel)]="lowerBr">
              <option *ngFor="let br of brs; first as firstElement" [value]="br.value" [selected]="firstElement">{{br.name}}</option>
            </select>
             <div class="col justify-content-center d-lg-inline-flex">-</div>
            <select class="form-select form-select-sm col" name="upper-br" [(ngModel)]="upperBr">
              <option *ngFor="let br of brs; last as lastElement" [value]="br.value" [selected]="lastElement">{{br.name}}</option>
            </select>
          </div>
          </div>
        </div>
        <div class="mb-2" id="class-filters" >
          <div [hidden]="!mode.startsWith('ground')" class="filters" id="army-class-filter" >
            <div class="filter-label">Class:
              <button class="btn btn-light btn-sm" (click)="checkAll('groundVehicleClasses')">all</button>
              <span> | </span>
              <button class="btn btn-light btn-sm" (click)="uncheckAll('groundVehicleClasses')">none</button>
              <div class="offset-1">
              <div class="form-check-inline" *ngFor="let klass of groundVehicleClasses">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="ground-class" [value]="klass.value" [checked]="klass.checked"  (change)="klass.checked = !klass.checked">
                  {{klass.name}}
                </label>
              </div>
              </div>
            </div>
          </div>
          <div [hidden]="!mode.startsWith('air')" class="mb-2" id="aviation-class-filter" >
            <div class="filter-label">Class:
              <button class="btn btn-light btn-sm" (click)="checkAll('aircraftClasses')">all</button>
              <span> | </span>
              <button class="btn btn-light btn-sm" (click)="uncheckAll('aircraftClasses')">none</button>
              <div class="offset-1">
              <div class="form-check-inline" *ngFor="let klass of aircraftClasses">
                <label class="form-check-label">
                  <input class="form-check-input"  type="checkbox" name="air-class" [value]="klass.value" [checked]="klass.checked" (change)="klass.checked = !klass.checked">
                  {{klass.name}}
                </label>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2" id="status-filters">
          <div class="filter-label">Status:
            <button class="btn btn-light btn-sm" (click)="checkAll('status')">all</button>
            <span> | </span>
            <button class="btn btn-light btn-sm" (click)="uncheckAll('status')">none</button>
            <div class="offset-1">
            <div class="form-check-inline" *ngFor="let status of status">
              <label class="form-check-label">
                <input class="form-check-input"  type="checkbox" name="status" [value]="status.value" [checked]="status.checked" (change)="status.checked = !status.checked">
                {{status.name}}
              </label>
            </div>
            </div>
          </div>
        </div>
        <div class="mb-2" id="battle-filter">
          <div class="filter-label">min battles:
            <input type="number" class="col-md-1 form-text" min="1" [(ngModel)]="minBattles" name="battleNumber">
            <div class="d-flex justify-content-center flex-nowrap">
            <span>1</span>
            <input class="form-range w-75" type="range" min="1" max="200" [(ngModel)]="minBattles" name="battleSlider">
            <span>200</span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-nowrap row container">
          <div class="justify-content-end col-sm-2"></div>
          <div class="justify-content-center col-sm-4 mx-auto">
            <button class="btn btn-primary col-sm-12" (click)="filterList()">filter</button>
          </div>
          <div class="justify-content-end col-sm-2">
            <button class="btn btn-outline-danger col-sm-12" (click)="resetFilters()">reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--END OF FILTERS-->

<!--VEHICLE TABLE-->
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped table-hover" id="sortTable">
      <thead>
      <tr>
        <th scope="col" class="text-md-start"># </th>
        <th scope="col" class="text-md-center" (click)="sortByField('rank')" [ngClass]="{'sorted':sortedField=='rank', 'asc': sortDir==1, 'desc': sortDir==-1}">
          <img src="/assets/icons/rank_icon.png" alt="rank" width="36" height="36"/></th>
        <th scope="col" class="text-md-center" (click)="sortByField('nation')" [ngClass]="{'sorted':sortedField=='nation', 'asc': sortDir==1, 'desc': sortDir==-1}">
          <img src="/assets/icons/world_icon.png" alt="nation" width="36" height="36"/></th>
        <th scope="col" class="text-md-center" (click)="sortByField(mode)" [ngClass]="{'sorted':sortedField==mode, 'asc': sortDir==1, 'desc': sortDir==-1}">
          <img src="/assets/icons/battle_rating_icon.png" alt="battle rating" width="36" height="36"/></th>
        <th scope="col" class="text-md-center" (click)="sortByField('klass')" [ngClass]="{'sorted':sortedField=='klass', 'asc': sortDir==1, 'desc': sortDir==-1}">
          Role</th>
        <th scope="col" class="text-md-center" (click)="sortByField('name')" [ngClass]="{'sorted':sortedField=='name', 'asc': sortDir==1, 'desc': sortDir==-1}">
          Name</th>
        <th scope="col" class="text-md-end" (click)="sortByField('wins')" [ngClass]="{'sorted':sortedField=='wins', 'asc': sortDir==1, 'desc': sortDir==-1}">
          <img src="/assets/icons/wins_icon.png" alt="victories" width="36" height="36"/></th>
        <th scope="col" class="text-md-end" (click)="sortByField('battles')" [ngClass]="{'sorted':sortedField=='battles', 'asc': sortDir==1, 'desc': sortDir==-1}">
          <img src="/assets/icons/battles_icon.png" alt="battles" width="36" height="36"/></th>
        <th scope="col" class="text-md-end" (click)="sortByField('win-ratio')" [ngClass]="{'sorted':sortedField=='win-ratio', 'asc': sortDir==1, 'desc': sortDir==-1}">
          <img src="/assets/icons/win_ratio_icon.png" alt="win ratio" width="36" height="36"/></th>
        <th scope="col" class="text-md-end" (click)="sortByField('spawns')" [ngClass]="{'sorted':sortedField=='spawns', 'asc': sortDir==1, 'desc': sortDir==-1}">
          <img src="/assets/icons/spawns_icon.png" alt="respawns" width="36" height="36"/></th>
        <th scope="col" class="text-md-end" (click)="sortByField('deaths')" [ngClass]="{'sorted':sortedField=='deaths', 'asc': sortDir==1, 'desc': sortDir==-1}">
          <img src="/assets/icons/deaths_icon.png" alt="deaths" width="36" height="36"/></th>
        <th scope="col" class="text-md-end" (click)="sortByField('ground_kills')" [ngClass]="{'sorted':sortedField=='ground_kills', 'asc': sortDir==1, 'desc': sortDir==-1}">
          <img src="/assets/icons/ground_kills_icon.png" alt="ground vehicles killed" width="36" height="36"/></th>
        <th scope="col" class="text-md-end" (click)="sortByField('air_kills')" [ngClass]="{'sorted':sortedField=='air_kills', 'asc': sortDir==1, 'desc': sortDir==-1}">
          <img src="/assets/icons/air_kills_icon.png" alt="aircraft killed" width="36" height="36"/></th>
        <th scope="col" class="text-md-end" (click)="sortByField('kd-ratio')" [ngClass]="{'sorted':sortedField=='kd-ratio', 'asc': sortDir==1, 'desc': sortDir==-1}">
          <img src="/assets/icons/kill_deaths_icon.png" alt="kills/death ratio" width="36" height="36"/></th>
        <th scope="col" class="text-md-end" (click)="sortByField('ks-ratio')" [ngClass]="{'sorted':sortedField=='ks-ratio', 'asc': sortDir==1, 'desc': sortDir==-1}">
          <img src="/assets/icons/kill_spawns_icon.png" alt="kills/spawn ratio" width="36" height="36"/></th>
      </tr>
      </thead>
      <tr id="summary-row">
        <td class="text-md-start">{{(filteredVehicles | async)?.length}}</td>
        <td colspan="5" class="text-md-center">summary</td>
        <td class="text-md-end">{{sumWins}}</td>
        <td class="text-md-end">{{sumBattles}}</td>
        <td class="text-md-end">{{(sumWins/sumBattles*100).toFixed(2).substr(0,5)}}</td>
        <td class="text-md-end">{{sumSpawns}}</td>
        <td class="text-md-end">{{sumDeaths}}</td>
        <td class="text-md-end">{{sumGroundKills}}</td>
        <td class="text-md-end">{{sumAirKills}}</td>
        <td class="text-md-end">{{((sumGroundKills+sumAirKills)/sumDeaths).toFixed(2)}}</td>
        <td class="text-md-end">{{((sumGroundKills+sumAirKills)/sumDeaths).toFixed(2)}}</td>
      </tr>
      <tbody>
      <tr *ngFor="let v of filteredVehicles | async; let i = index">
        <td class="text-md-start">{{i+1}}</td>
        <td class="text-md-center">{{v.vehicle.rank}}</td>
        <td class="text-md-center"><img src="/assets/flags/{{v.vehicle.nation}}_flag.png" width="40" height="20"></td>
        <td class="text-md-center" [hidden]="!mode.endsWith('ab')">{{v.vehicle.arcade_br}}</td>
        <td class="text-md-center" [hidden]="!mode.endsWith('rb')">{{v.vehicle.realistic_br}}</td>
        <td class="text-md-center" [hidden]="!mode.endsWith('sb')">{{v.vehicle.simulation_br}}</td>
        <td><img src="/assets/vehicle_icons/{{v.vehicle.klass}}_icon.png" width="40" height="20"></td>
        <td><a class="link-dark" href="vehicle/{{v.vehicle.vehicle_id}}">{{v.vehicle.name}}</a></td>
        <td class="text-md-end">{{v.wins}}</td>
        <td class="text-md-end">{{v.battles}}</td>
        <td class="text-md-end">{{(v.wins/v.battles*100).toFixed(2).substr(0,5)}}</td>
        <td class="text-md-end">{{v.spawns}}</td>
        <td class="text-md-end">{{v.deaths}}</td>
        <td class="text-md-end">{{v.ground_kills}}</td>
        <td class="text-md-end">{{v.air_kills}}</td>
        <td class="text-md-end">{{((v.ground_kills+v.air_kills)/v.deaths).toFixed(2)}}</td>
        <td class="text-md-end">{{((v.ground_kills+v.air_kills)/v.spawns).toFixed(2)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--END OF VEHICLE TABLE-->
