<div class="bg-primary bg-opacity-25">
    <div class="navbar container">
        <a class="navbar-brand" href="#">ThunderFinesse</a>
      <div class="w-50">
      <div class="input-group">
        <div class="form-control form-range">
          <input class="form-control" type="text" id="login" [(ngModel)]="login" placeholder="search for player">
        </div>
        <button class="btn btn-primary" (click)="search()">Q</button>
      </div>
    </div>
      <div class="">
        placeholder
      </div>
    </div>
  </div>
  <div class="container mb-5">
  <div class="tab-bar offset-1 col-md-10 pt-0 bg-primary bg-opacity-10">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#" [ngClass]="{'active opacity-75' : page == 'dashboard'}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/vehicles/air" [ngClass]="{'active opacity-75' : page == 'vehicles'}">Vehicles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Modes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Videos</a>
      </li>
    </ul>
  </div>
  </div>
